*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow: hidden;
}

.content{
    
    background-color: grey;
    
}

.column{
    float: left;
    width: 50%;
    height: 1080px;
    
}

.column{
background-color:red;
}

.column:last-of-type{
background-color: turquoise;
}

.content:after{
    content: "";
    display: table;
    clear:both;
}



.forms{
    text-align: center;
    padding: 1em;
    background-color: red;
}

.Rules{
text-align: center;
}

.Rules h1, h2, p{
    margin: 5px;
    padding: 10px;
}


select{
    text-align: center;
    margin-top: 5px;
    padding:1em;
    width: 100%;
}

.players{
    text-align: center;
    width: 100%;
    display: block;
    padding: 1em;
    margin-top: 1em;
}

#submitButton{
    position: absolute;
    bottom: 0px;
    padding: 2em;
    width: 100%;
}